{% extends 'base/main.html' %} {% block content %}

<div class="header-bar">
  <div>
    <h1>Hello {{request.user|title}}</h1>
    <h3 style="margin: 0" style="text-align: center;">
      You have <i>{{uncompleteTask}}</i> incomplete task{{ count|pluralize:"'s"}}
    </h3>
  </div>
  {% if request.user.is_authenticated%}
  <h3>
    <a href="{% url 'logout' %}"><i class="far fa-sign-out-alt"></i></a>
  </h3>

  {%else%}
  <h3>
    <a href="{% url 'login' %}"><i class="far fa-sign-in-alt"></i></a>
  </h3>
  {%endif%}
</div>


<div class="second-header">
  
    <a href="{% url 'task-create' %}"
      ><i class="fas fa-plus"></i></a>
  <div>
    <form method="get">
      <input type="text" id="search-area" name="search_value" value="{{searchDefaultvalue}}" />
      <button type="submit" style='font-style: italic;' id="search-button">s e a r c h</button>
    </form>

  </div>

</div>


<!-- <h3>total tasks {{count}}</h3>
<h3>uncompleted tasks {{uncompeteTask}}</h3> -->

<div class="tasks-list-wraper">
  {% for task in tasks %}
  <div class="task-wraper">
    {%if task.complete %}
    <div class="singletask-wrapper">
      
      <div class="task-completed-icons"></div>
      
      <i
        > <s><a href="{%url 'task-update' task.id%}">{{task.title}}t</a></s></i
      >
    </div>
    <a href="{%url 'task' task.id%}"><i class="fas fa-eye"></i></a>

    <a href="{% url 'task-delete' task.id %}"
      ><i class="fal fa-trash-alt"></i
    ></a>

    {%else%}
    <div class="singletask-wrapper">
      <div class="task-incompleted-icons"></div>
      <i><a  href="{%url 'task-update' task.id%}">{{task.title}}t</a></i>
    </div>

    
    <a href="{%url 'task' task.id%}"><i class="fas fa-eye"></i></a>

    <a  href="{% url 'task-delete' task.id %}"><i class="fal fa-trash-alt"></i></a>

    

    {% endif %}
  </div>
  {%empty%}
  <h1>there is no tasks</h1>
  {%endfor%}
</div>


{% endblock content %}
